<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body ng-controller="loginCtrl">

<h3>用户登录</h3>
<br>
<form ng-submit="loginAction()" method="post">
    用户名:<input name="username" ng-model="username" type="text"/>
    <br>
    密&nbsp;码:<input name="password" ng-model="password" type="password"/>
    <br>
    <input type="submit" value="登录">
</form>
<br>
<a href="/logout">登出</a>


<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/script/login.js"></script>
<script type="text/javascript">

    angular.bootstrap(document, ['loginModule']);

</script>
</body>
</html>